<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @*<h2>Donaciones</h2>*@
        <br />
        <div>
            <h3>Un mensaje del fundador de dondeducar</h3>
            <p>El comercio es bueno. La publicidad no es mala. Pero no es apropiada aquí. No en dondeducar.</p>
            <p>Dondeducar es algo de todos. Es como una biblioteca o como un parque público. Es un lugar al cual todos podemos ir para buscar, opinar, compartir nuestro conocimiento con otros.</p>
            <p>Cuando fundé dondeducar, pude haberla establecido como una compañía con fines de lucro con anuncios publicitarios, pero decidí hacer algo diferente que sea de todos.</p>
            <p>No todos pueden o quieren donar. Y eso esta bien. Lo importante es que suficientes personas piensan que deciden donar como recompensa a nuestros esfuerzos.</p>
            <p>Si usas ete servicio, por favor considera donar $5, $10, $20 o lo que puedas contribuir para proteger y ayudar a dondeducar.</p>

            <p>Muchas Gracias</p>
        </div>
        <br />
        <div>
            <h4>¿A qué se destinan tus donaciones?</h4>
            <label for="tecnologia"><strong>Tecnología:</strong></label>
            <p id="tecnologia">
                Servidores, ancho de banda, mantenimiento, desarrollo. dondeducar es un sitio totalmente gratuito pero necesita dinero para mejorar la velocidad y disponibilidad de sus servicios.<p>
                    <label for="personal"><strong>Personal:</strong></label>
            <p id="personal">Otros sitios web tienen miles de asalariados. Nosotros solo tenemos algunos empleados, por lo cual su donación constituye una excelente inversión en una organización sin fines de lucro altamente eficiente.</p>
        </div>
    </div>
</div>
