@model dondEducar.ViewModel.IndexViewModel

<ul class="menu">
    @foreach(var nivel in Model.NivelesEducativos)
    {
        <li class="">
            <a href='@Url.Action("Establecimientos", new {nivelEducativo = nivel.Valor})'>@nivel.Vista</a>
        </li>
    }
</ul>

<a href='@Url.Action("Importar","Importar")' class="btn btn-primary">Importar Datos</a>