

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Informacion</h2>

        <p>DondEducar se propone como una herramienta para buscar escuelas, ya sea por su tipo de gestion, ubicacion o nivel educativo.</p>
        <p>Permitiendo dejar comentarios sobre las mismas y puntuandolas. </p>

    </div>
</div>
