@{
    ViewBag.Title = "Informacion";
}

<h2>Informacion</h2>

DondEducar se propone como una herramienta para buscar escuelas, ya sea por su tipo de gestion, ubicacion o nivel educativo. 
Permitiendo dejar comentarios sobre las mismas y puntuandolas. 