
<hgroup class="title">
    <h1>Importar</h1>
</hgroup>

<a href='@Url.Action("LimpiarBase")'class="btn btn-primary">Limpiar la Base</a>
<br />

<div class="widget-content">
    @using (Html.BeginForm("Importar", "Importar", FormMethod.Post, new { id = "importarForm", name = "importarForm", enctype = "multipart/form-data" }))
    {
        <div id="archivoExcel" class="input-block-level">
            @*real file input*@
            <input type="file" id="fileUpload" name="fileUpload" class="input-xxlarge file" onchange="checkExtension(this.value)" />
            <button type="submit" class="btn btn-primary" id="formSubmit">Importar</button>
            @Html.ValidationSummary()
        </div>
    }
</div>


<script type="text/javascript">
  

    @*valida la extension del archivo que se esta por importar*@
    function checkExtension(filename) {
        if ($.inArray(filename.split('.').pop(), ['csv']) != -1) {
            $("#formSubmit").removeAttr("disabled");
            return true;
        } else {
            EDUCAR.Modals.error("Solo se pueden importar archivos cuya extensión sea <b>'.csv'</b>.<br />Por favor revise el archivo a importar.");
            $("#fileUpload").val("");
            $("#formSubmit").attr("disabled", "disabled");
            return false;
        }
    }

    @*on submit file*@
    $("#importarForm").submit(function (event) {
        if ($("#fileUpload").val() == "") {
            EDUCAR.Modals.error("No se seleccionó un archivo.<br />Por favor revise el archivo a importar.");
            event.preventDefault();
            return false;
        }

    });
</script>